name: Run Unit Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install unittest pyperclip
      - name: Run unit tests
        run: |
          python -m unittest discover -s ./tests -p 'test_*.py'
